*{
  margin:0;
  padding:0;
  box-sizing:border-box
}
body{
  background-color:#f5f5f5;
  font-family:&quot;Roboto&quot;,sans-serif
}
a{text-decoration:none}
  .container{
  overflow:hidden;
  max-width:1100px;
  margin:auto;
}
  
h1 a{
   -webkit-text-stroke: 1px black;
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.ico{display:inline-block} 
.ico.fh{transform:scale(-1,1)}
.ico.fv{transform:scale(1,-1)}
.back{display:none}
.wrapper{width:100%;overflow:hidden;margin:15px auto}
header .container{text-align:center}
main .container{min-height:200px;background-color:#fff}
.row{clear:both}
.right{right:10px}
.left{left:10px}
.hide{display:none}
.show{display:block}
.box{
  background-color: #eee;
  float:left;
  width:105px;
  height:100px;
  margin:5px;
  padding:3px;
  text-align:center;
  position:relative;
  border:1px solid #eee;
}
.box img{
  max-width:100%;
  max-height:100%;
}
.box p{
  background-color: #3498db;
  color: #fff;
  border-top:1px solid #eee;
  position: absolute;
  bottom:0;
  right:0;
  left:0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
}
/***** Start Top Navbar Style ******/
.topnav{overflow:hidden;background-color:#aaa}
.topnav li{list-style:none}
.btn,.toggle{border-right: 1px solid #aaa}
.toggle:hover{background-color: #ddd}
.btn{
  background-color:#ccc;
  color: #555;
  cursor: pointer;
  display: block;
  font-size: 16px;
  padding: 10px 25px;
  text-align: center;
}
.btn.active{background-color: #fff}
.btn:active{background-color: #eee}
.btn:hover{background-color: #ddd}
.search input {
  font-size: 16px;
  margin-top: 4px;
  width: 100%;
  padding: 4px 10px;
}
.search{float:right; width: 25%}
.topnav li{float: left}
.toggle{font-size: 20px; display:none}
#player{width: 100%}
@media screen and (max-width: 640px){
  .topnav ul{display:none}
  .list li{border-bottom: 1px solid #aaa;float: none}
  .list{display:block !important; overflow: hidden;}
  .search input{padding: 3px 10px}
  .search{
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 150px;
    width: 75%;
  }
  .toggle{
    width:40px;
    color: #555;
    display: block;
    padding: 5px 10px;
  }
}

/*****  Ead Top Navbar Style  ******/
footer{padding-top:20px;background-color:#333}
footer .container{background:none;min-height:230px; position: relative}
footer a{color:#fff}
footer a:hover{color:#85c1e9}
.foot{position: absolute; bottom: 10px}
.foot li{margin-left: 30px;float:left;list-style:none}
